.preloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #545050;
}
.preloader-chasing-squares {
  width: 50px;
  height: 50px;
  line-height: 19px;
}
.preloader-chasing-squares .square {
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #fff;
  animation: focusfade 2.8s infinite;
}
.content__card-link_current {
  background: #545050;
}
.content__card-link {
  display: block;
  margin: 2px;
  transition: background-color 0.3s, color 0.3s ease;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.content__video-card-title, .content__video-card-description {
  transition: text-decoration 0.3s ease;
}
:hover.content__card-link {
  text-decoration: underline;
}
:focus-visible.content__card-link {
  border: 1px solid #FFFFFF;
}
:focus.content__card-link {
  outline: none;
}
.content__video-card {
  display: flex;
  padding: 2px 0 2px 2px;
}
.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
}
.content__video-card-description {
  font-family: Fira Sans Condensed;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: #FFFFFF;
}
.content__video-card-description-container {
  width: 200px;
}
img {
  width: 194px;
  height: 103px;
  object-fit: cover;
}
.preloader-chasing-squares .square:nth-child(2) {
  animation-delay: 0.7s;
}

.preloader-chasing-squares .square:nth-child(3) {
  animation-delay: 2.1s;
}

.preloader-chasing-squares .square:nth-child(4) {
  animation-delay: 1.4s;
}

@keyframes focusfade {

  0% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.7;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}
