*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  margin: auto;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}
.content {
  display: flex;
  justify-content: flex-end;
  width: 1140px;
  height: auto;
  gap:29px;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 378px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-form {
  display: flex;
  align-items: end;
  gap: 40px;
}
.search-form__fieldset {
  width: 100%;
  border: none;
  gap: 20px;
}
.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: left;
}
.search-form__label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2px;
  transition: border-color 0.2s ease;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}
.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 9px;
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: border-color 0.2s ease;
}
.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__textfield {
  width: 100%;
  min-width: 220px;
  padding-left: 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: currentColor;
  background: transparent;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  outline: none;
  transition: border-color 0.2s ease;
  color: #FFFFFF;
}
.search-form__textfield:focus-visible {
  border: none;
}
.search-form__label:has(.search-form__textfield:focus-visible, .search-form__checkbox:focus-visible) {
  border: 1px solid #FFFFFF;
}
.search-form__textfield:focus {
  outline: none;
}
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}
.content__accent {
  color:#545050;
}
.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
}
.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}
.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: #FFFFFF;
  width: 100%;
  height: 34px;
  outline: 1px solid currentColor;
}
.button:active {
  background: #545050;
}
.button:not(:active):hover {
  text-decoration: underline;
}
.button:focus-visible {
  outline: thick double #FFFFFF;
}
.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
